/* all common css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
body{
    background: url(../images/Header\(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* all common css start */





/* header part start */

.nav-item{
    padding: 0 20px;
}
.nav-link{
   color: black;
   transition: 0.4s;
}
.nav-link:hover {
	color: #8454F5;
}


.nav-item i{
    padding-left: 5px;
    vertical-align: middle;
  font-weight: 600;
   
}

.header_btn a{
    padding: 25px 25px;
    background: #8454F5;
    color:white ;
    border-radius: 18px;
}
    
/* header part end */



/* banner part start */
#banner_part{
    padding-top: 100px;
}
.col-lg-7{
    padding-top: 100px;
}
.col-lg-7 h1{
    font-size: 64px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 80px;
    color: #29313D;
}
.col-lg-7 p{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Nunito", sans-serif;
    color: #29313D;
    width: 516px;
    padding-left: 10px;
    border-left: 5px solid #FFC556;
}
.btn_singup{
    position: relative;
}
.btn_singup input{
    padding: 30px 20px;
    width: 80%;
    background: rgba(132, 84, 245, 0.15);
    border: none;
    border-radius: 20px;
    
}
.btn_singup input::placeholder{
    color: #29313D;
    font-size: 18px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    opacity: 1;
}
.extra a{
    padding: 20px 35px;
    background: #8454F5;
    color:white ;
    border-radius: 18px;
    position: absolute;
    top:10px ;
    right: 195px;
}


/* banner part end */



/* logos part start */
#logos_part{
    padding:50px; 
 }
 
/* logos part end */


/* solution part start */
#solution_part{
    padding: 50px;
}
.col-lg-6{
    padding-bottom: 100px;
}
.col-lg-6 h3{
    font-size: 56px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 80px;
    color: #29313D;
    padding-right: 10px;
}
.col-lg-6 p{
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Nunito", sans-serif;
    color: #29313D; 
    border-left: 5px solid #FFC556;
    margin-top: 70px;
    padding-left: 10px;
}

 

.icon_width_heading{
    display: flex;

}
.box{
    margin:20px;
    transition: 0.4s;
}
.box i{
    padding: 20px ;
    background: rgba(255, 196, 86, 0.15);
    border-radius: 14px;
    font-size: 28px;
    font-weight: 700;
    color: #FFC556;
    transition: 0.4s;
}
.icon_width_heading h3{
    font-size: 28px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
    color: #29313D;
    transition: 0.4s;
    padding-top: 35px;
}


.solution_item p{
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    font-family: "Nunito", sans-serif;
    color: #29313D;
   padding-left: 20px;
    text-transform: capitalize;
    padding-right: 30px;
    transition: 0.4s;
}
.read_btn a{
    font-size: 20px;
    font-weight: 600;   
    font-family: "Nunito", sans-serif;
    color: #29313D;
    text-transform: capitalize;
    transition: 0.4s;
}
.read_btn{
    padding: 20px;
}
.solution_item{ 
    border: 3px solid rgba(132, 84, 245, 0.4);
    border-radius: 20px;
    transition: 0.4s;
}
.col-lg-4{
    justify-content: space-around;
    padding-bottom: 20px;
}
.solution_item:hover{
 background: #8454F5;
}
.solution_item:hover .icon_width_heading .box{
    background: rgba(132, 84, 245, 0.40);
}
.solution_item:hover .icon_width_heading .box i{
    color: white;
}
.solution_item:hover .icon_width_heading  h3{
    color: white;
}
.solution_item:hover p{
    color: white;
}
.solution_item:hover a{
    color: white;
}
.one i{
    background: rgba(21, 115, 202, 0.15);
    border-radius: 14px;
    font-size: 28px;
    font-weight: 700;
    color: blue;
    transition: 0.4s;
}
.two i{
background:rgba(34, 139, 34, 0.178);
border-radius: 14px;
font-size: 28px;
font-weight: 700;
color: forestgreen;
transition: 0.4s;
}
.three i{ 
background:rgba(255, 68, 0, 0.151);
border-radius: 14px;
font-size: 28px;
font-weight: 700;
color: orangered;
transition: 0.4s;
}
.four i{
   
background: rgba(255, 0, 0, 0.164);
border-radius: 14px;
font-size: 28px;
font-weight: 700;
color: rgba(255, 0, 0, 0.452);
transition: 0.4s;
}
.five i{
   
background: rgba(0, 128, 128, 0.178);
border-radius: 14px;
font-size: 28px;
font-weight: 700;
color: teal;
transition: 0.4s;
}

/* solution part end */


/* task part start */
#task_part{
   padding: 200px;
}
.col-lg-6{
    position: relative;
    justify-content: space-between;
}
.rectangular{
    position: absolute;
    height:733px ;
    width: 671px;
    z-index: -1;
    top: -103px;
    left: -315px;
   
}
.card_one{
    position: absolute;
    top: 120px;
    left: 6px;
   
}
.card_two {
    position: absolute;
    top: -45px;
    right: 141px;
    padding-left: 226px;


}
.card_three{
    position: absolute;
    top: 292px;
    right: 181px;
    padding-left: 226px;
}
.col-lg-6 h3{
    font-size: 56px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 80px;
    color: #29313D;
    padding-top: 50px;
}
.task p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Nunito", sans-serif;
    color: hsl(216, 20%, 20%);
    border: none;
    padding-left: 0px;
}
.col-lg-6 a{
    padding: 20px 35px;
    background: #8454F5;
    color:white ;
    border-radius: 18px;
}
.btn_task{
    padding-top: 60px;
}

/* task part end */
/* button part start */
#buttons_part{
    padding-top: 50px;
    padding-bottom: 50px;
}

.all_btn{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 5px;
    left: 15px;
 
   
}
.side_btn{
    transition: 0.4s;
     border-radius: 18px;
     margin: 0 14px;
     padding: 25px 64px;
}

.side_btn a{
   
    color:#8454F5;
    font-size: 20px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
   
  
}
.btn_form_a{
    position: relative;
    transition: 0.4s;
}

.former input{
    width: 100%;
    padding: 35px 0;
    background: rgba(132, 84, 245, 0.2);
    border: none;
    border-radius: 18px;
    position: absolute;
    left: 0px;
}
.side_btn:hover{
    background: #8454F5;
    
}
.side_btn:hover a{
    color: white;
}
/* button part end */


/* digital part start */
#digital_part{
    padding-top: 300px;
    padding-bottom: 100px;
}
.col-lg-5 h3{
    font-size: 56px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 80px;
    color: #29313D;
}
.col-lg-5 p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Nunito", sans-serif;
    color: #29313D;
}
.col-lg-5 a{
    padding: 20px 35px;
    background: #8454F5;
    color:white ;
    border-radius: 18px;
}
.digital_btn{
    padding-top: 50px;
}


/* digital part end */


/* build part start */
#build_part{
    padding: 200px 0;
}
.text_build{
    text-align: center;
    padding:0px 350px ;
}
.text_build h3{
    font-size: 56px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 80px;
    color: #29313D;
    padding-bottom: 40px;
   
}
.text_build img{
    padding-bottom: 100px;
}

.div1{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
   
}
.div2{
    display: flex;
    padding-left: 50px;
}
.div2 p{
    font-size: 20px;
    font-weight: 400;
    padding-top: 3px;
    font-family: "Nunito", sans-serif;
    color: #29313D;
    transition: 0.4s;
}
.div2 i{
    font-size: 20px;
    color: #29313D;
    padding-right: 10px;
    vertical-align: middle;
    transition: 0.4s;
}
.div1 h4{
    padding-right: 20px;
    color: #8454F5;
    transition: 0.4s;
}
 .hello{
    justify-content: space-between;
    position: relative;
    padding-top: 500px ;

}
.all{
    transition: 0.4s;
    position: absolute;
    bottom: -50px;
   
}
.intro_box{
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.952);
    height:540px ;
    transition: 0.4s;
    width: 400px;
}
.intro_box h3{
    font-size: 36px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding: 60px 0;
    color: #29313D;
    padding-left: 50px;
    transition: 0.4s;
}

.intro_btn a{
    padding: 20px 35px;
    background: rgba(132, 84, 245, 0.10);
    color:#8454F5 ;
    border-radius: 18px;
    transition: 0.4s;
}
.intro_btn{
   padding: 50px;
    padding-left: 50px;
   
}
.all:hover{
    background: white;

}

.all:hover .intro_box{
    background: #181059;
}
.all:hover .intro_box h3{
 color: #F8FAFC;
}
.all:hover .intro_box .div1 .div2 p{
 color: #F8FAFC;
}
.all:hover .intro_box .div1 .div2 i{
 color: #F8FAFC;
}
.all:hover .intro_box .div1 h4{
 color: #F8FAFC;
}
.all:hover .intro_btn a{
    color: #F8FAFC;
    background: #8454F5;
}
.hello:hover{
    bottom: 55px;
}
/* build part end */

/* play part start */
#play_part{
    padding: 100px 0;
}
.col-lg-2{
    height: 158px;
}
.col-lg-2 h3{
    font-size:64px ;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    padding: 20px 0;
}
.col-lg-2 p{
    font-size:18px ;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    line-height: 30px;
  
    padding-right: 20px;
}
.navshot{
    position: relative;
}
.navshot::after{
    position: absolute;
    content: "";
    height: 100px;
    width: 2px;
    background: rgba(41, 49, 61, 0.459);
    top: 36px;
    left: -90px;
}
.navshot::before{
    position: absolute;
    content: "";
    height: 100px;
    width: 2px;
    background: rgba(41, 49, 61, 0.5);
    top: 36px;
    left: 236px;
}


/* play part end */


/* plan part start */
#plan_part{
    padding: 100px 0;
}
.booo h3{
    font-size: 56px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 80px;
    color: #29313D;
}
.booo p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Nunito", sans-serif;
    color: #29313D;
    padding-top: 20px;
    padding-right: 30px;
}
.booo h4{
    font-size: 56px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 80px;
    color: #29313D;
    padding: 30px 0;
}
.dash_icon{
  padding-bottom: 40px;
}
.dash_icon i{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid #8454F5;
    color: #8454F5;
   padding: 10px 10px;
   margin-right: 15px;
}
.dash_icon i:hover{
    background: #8454F5;
    color: white;
}
.dash_icon_two i{
    font-size: 18px;
    height: 64px;
    width: 64px;
    border-radius: 5px;
    background: #8454f562;
    color:#29313D;
   padding: 23px 25px;
   margin-right: 20px;
   
}
.dash_icon_two i:hover{
    background: #8454F5;
    color: white;
}


/* plan part end */

/* ready part start */
#ready_part{
    padding: 100px 0;
}
.col-lg-8 h3{
    font-size: 56px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 80px;
    color: #29313D;
    text-align: center;
}
.ready{
    display: flex;
    margin: 50px 0;
}
.para{
    border-right: 1px solid #29313D;
}
.para p{
    font-size: 28px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #29313D;
   
    padding: 1px 10px ;
}
 .chill{
    border: none;
}
.para_btn{
    padding-left: 60px;
}
.para_btn input{
    padding: 30px 20px;
    width: 80%;
    background: rgba(132, 84, 245, 0.15);
    border: none;
    border-radius: 20px;
    width: 60%;
   
}
.para_btn a{
    padding: 30px 45px;
    background: #8454F5;
    color:white ;
    border-radius: 18px;
   
    
}
.para_btn input::placeholder{
    color: #29313D;
    font-size: 18px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    opacity: 1;
    padding-left: 10px;
   
}
/* ready part end */

/* footer part start */
#footer_part{
    padding: 200px 0;
}
.footer p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Nunito", sans-serif;
    color: #29313D; 
    padding-right: 100px;
    padding-top: 40px;
}
.col-lg-1 h4{
    font-size:24px ;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    padding: 20px 0;
}
.col-lg-1 p{
    font-size: 20px;
    font-weight: 600;   
    font-family: "Nunito", sans-serif;
    color: #29313D;
    padding: 15px 0;
}
.col-lg-2 h4{
    font-size:24px ;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    padding: 20px 0;
}

.col-lg-2 p{
    font-size: 20px;
    font-weight: 600;   
    font-family: "Nunito", sans-serif;
    color: #29313D;
    padding: 15px 0 ;
   
}
.last p{
    padding-left: 25px;
}
.last h4{
    padding-left: 25px;
}
.endgame p{
    font-size: 20px;
    font-weight: 600;   
    font-family: "Nunito", sans-serif;
    color: #29313D;
    padding-top: 100px;
}
.end p{
    font-size: 20px;
    font-weight: 600;   
    font-family: "Nunito", sans-serif;
    color: #29313D;
    padding-top: 100px;
}

/* footer part end */

/* header part start */

/* header part end */
